.page {
  background-color: aquamarine;
  margin-top: -40px;
}

.paper {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5vh;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navItem {
  padding-left: 100px;
  padding-right: 100px;
  word-wrap: normal;
  color: blueviolet;
  text-decoration: none;
}

.listImage {
  height: 100px;
  width: 100px;
}

#card-page {
  display: block;
  padding: 50px 100px;
  height: auto;
  background-color: lightskyblue;
}

.form {
  padding-bottom: 50px;
}

.clearButton {
  padding-top: 50px;
}

.button {
  width: auto;
  padding: 15px 15px;
  display: inline-block;
  margin-left: 15px;
  margin-left: 15px;
}

.card-list {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 50%;
  max-height: 50%;
}

.main {
  background-color: darkred;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
  height: 200px;
  display: flex;
  color: blue;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  height: auto;
  width: auto;
}

.specificcard {
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rebeccapurple;
  margin-left: 100px;
  margin-top: 50px;
}

.validation {
  color: red;
}
